header {
  background: white;
  border-bottom: 1px solid var(--primary-color-fade);
  padding: 24px 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .logo-nav-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    .text-btn {
      margin-right: 24px;
    }
    .work-nav-links {
      display: none;
      flex-flow: column;
      padding: 18px 24px;
      background: #ffffff;
      box-shadow: 4px 4px 20px rgba(72, 0, 189, 0.1);
      position: absolute;
      top: 40px;
      left: -56px;
      min-width: 164px;
      .text-btn {
        font-size: 20px;
        margin-right: 0;
        opacity: 1;
        font-weight: 300;
        &:hover {
          font-weight: 600;
        }
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
      &.show {
        display: flex;
      }
    }
  }
}
